<form action="/" routerLink="" method="POST" *ngIf='authorization==0'>
    <div class="form-outline mb-4">
        <label class="form-label" for="username">username</label>
        <input type="text" id="username" class="form-control" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" />
    </div>

    <div class="form-outline mb-4">
        <label class="form-label" for="password">Password</label>
        <input type="password" id="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" />
    </div>
    <button type="button" class="btn btn-primary btn-block mb-4" (click)="login()">Sign in</button>
</form>